html {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 18px;
  background-color: white;
  color: rgb(33, 33, 34);
}

.content {
  display: flex;
}


nav {
  justify-content: space-between;
  margin: 16px 24px;
  background-color: white;
  color: #8F939D;
}

nav div {
  display: flex;
  align-items: center;
}

nav h1 {
  font-size: 1em;
  color: #28292C;
  font-weight: 550;
}

nav li {
  display: inline;
  padding: 0 .5rem;
}

/*.menu div {
  margin-left: 16px;
  color: #8F939D;
}*/

.menu a:hover {
  color: #28292C;
}

.menu a {
  color: #8F939D;
  text-decoration: none;
}

.truncated-menu {
  display: none;
}

@media only screen and (max-width: 640px) {
  nav .logo, nav .menu {
    display: none;
  }
/*
  nav .menu ul.truncated-menu {
    display: table;
    width: 100%;
    list-style: none;

  }
  nav .menu ul.truncated-menu li {
    display: table-cell;
    text-align: center;

    border: solid 1px blue;
  }
  nav .menu ul.truncated-menu li a{
    border: solid 1px red;
    display: block;

  }
*/
  .truncated-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 16px;
  }

}



.learn {
  display: flex;
  background-color: #ADB4C8;
  background-size: cover;
  padding: 32px 0;
}


img {
  width: 100%;
}

.image, .p1 {
  width: 60%;
  margin-left: 24px;
}

.text {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  margin: auto 24px;
  width: 40%;
}

.button {
  display: inline-block;
  padding: 16px 25px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #8F939D;
  border: none;
  border-radius: 7px;
  width: 70%;
  margin-top: 18px;
}

.button:hover {
  background-color: #28292C;
  color: #D6D8DD;
}

@media only screen and (max-width: 640px) {
  .learn {
    display: block;
  }
  .image {
    margin: 0;
    width: 100%;
    padding: 0;

  }

  .text, .button {
    display: inline-block;
    width: 90%;
    align-content: center;
  }

  img {
    background-size: cover;
  }
}

h1, span, h2, p, h3 {
  color: #313236;
}
.text h1, .disc h2, .start h1, .thesis h1{
  font-size: 2.5em;
  font-weight: bold;
  margin: 18px 0px;
}

.disc p, .disc-1 p, .col p {
  font-size: 1em;
  font-weight: lighter;
  padding: 8px 0;
}

.disc p {
  font-size: 1em;
  font-weight: lighter;
  padding-top: 8px;
  padding-bottom: 32px;
}

.disc h3 {
  font-size: 1.25em;
  font-weight: 500;
  padding-bottom: 8px;
  padding-top: 24px;
}

.disc span {
  font-size: 1em;
  font-weight: lighter;
  margin: 24px 0 32px 0;
}

.text span {
  font-size: 1.25em;
  font-weight: 450;
  margin: 18px 0px;
}

.col h2, .disc-1 h3 {
  font-size: 1.25em;
  font-weight: 500;
}


.col h2, .col h3, .col p {
  padding: 8px 16px;
}

/* Keep Practicing Section */

.practice {
  display: flex;
  background-color: white;
  background-size: cover;
  padding: 32px 0;
}


.side-bar img {
  flex-direction: row;
  height: auto;
}

.info {
  flex-direction: column;
  flex-grow: 1;
  width: 40%;
  margin: 0 24px;
}

.side-bar {
  display: flex;
}

.side-bar:hover {
  background-color: rgb(214, 217, 220);
  transition-property: background-color;
  transition-duration: 1s;
}

.side-bar-img {
  margin: 16px;
  width: 35%;
}
.disc-1 {
  width: 65%;
  margin: auto;
}

@media only screen and (max-width: 640px) {
  .p1 {
    display: none;
  }

  .side-bar {
    display: block;
  }

  .side-bar-img {
    display: flex;
    margin: 0;
    width: 100%;
    padding: 32px 0;
  }

  img {
    background-size: cover;
  }

  .disc-1 {
    width: 100%;
    margin: auto;
  }


}
/* Start Learning Section */

.learning {
  display: block;
  background-color: #ADB4C8;
  padding: 32px 72px;
}

.start {
  display: flex;
  background-color: #ADB4C8;
}
.start h1 {
  margin: 32px auto;
}

.flex-grid {
  display: flex;
  padding: 32px 56px;
  background-color: #ADB4C8;
  background: cover;
}

.flex-grid .col {
  flex: 1;
  margin-left: 16px;
  margin-right: 16px;
  background-color: white;
}

.col:hover {
  background-color: #D6D8DD;
  transition-property: background-color;
  transition-duration: 1s;
}

.moile {
  display: none;
}

@media only screen and (max-width: 640px) {
  .flex-grid {
    display: none;
  }
}

/* thesis section */

.thesis {
  display: flex;
}

.thesis h1 {
  margin: 32px auto;
}

.practice {
  background-color: white;
}

footer {
  display: flex;
  align-items: center;
  background-color: #ADB4C8;
  padding: 16px 24px;
}

footer p {
  flex-grow: 1;
}

footer a {
  text-decoration: none;
  padding-left: 8px;
}

footer a, p {
  font-size: 1em;
  font-weight: lighter;
  color: rgb(76, 76, 76);
}
